* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-size: 24px;
    line-height: 32px;
    color: black;
    background: grey;
}

header {
    padding: 20px;
    line-height: 32px;
    color: black;
    background: grey;
}

section {
    padding: 20px;
    width: 50%;
    margin-bottom: 20px;
    color: black;
    background: #eee;
}

#left {
    float: left;
    width: 100%;
    color: black;
    background: grey;
}

#right {
    float: left;
    width: 33.3%;
    color: black;
    background: #666;
}

#full {
    width: 100%;
    overflow: auto;
    clear: both;
    color: black;
    background: #eee;
}

#division {
    padding: 20px;
    margin-top: 20px;
    background: grey;
}

aside {
    float: right;
    width: 33%;
    height: 200px;
    padding: 20px;
    margin-left: 30px;
    background: blue;
    border: 1px solid #eee;
}

footer {
    padding: 5px;
    clear: both;
    background: red;
}